@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.svg#icomoon') format('svg'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Times New Roman';
}

[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
}

#stars {
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	list-style: none inside none;
	text-align: center;
}

#stars li {
	display: inline-block;
	font-size: 0;
	height: 6vw;
	margin: 1.5vw;
	position: relative;
	width: 6vw;
	z-index: 1;
}

#stars li span {
	display: inline-block;
	border-top: 2vw solid transparent;
	border-bottom: calc(2vw * 0.6283) solid transparent; 
	border-right:1vw solid black; 
	position: absolute;
	top: 0;
	left: 33%;
	height: 0;                 
	width: 0;                
	-moz-transform-origin: 100% 100%;
	-webkit-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}

#stars li span:after {
	content: '';
	display: inline-block;
	border-top: 1.8vw solid transparent;
	border-bottom: calc(1.8vw * 0.6283) solid transparent; 
	border-right: 0.8vw solid #FFCE65;
	position: absolute;
	bottom: -1.1vw;
	left: 2px;
	height: 0;                 
	width: 0;
}

#stars li span:nth-child(2) {
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

#stars li span:nth-child(3) {
	-moz-transform: rotate(72deg);
	-webkit-transform: rotate(72deg);
	transform: rotate(72deg);
}

#stars li span:nth-child(4) {
	-moz-transform: scaleX(-1) rotate(-72deg);
	-webkit-transform: scaleX(-1) rotate(-72deg);
	transform: scaleX(-1) rotate(-72deg);
}

#stars li span:nth-child(5) {
	-moz-transform: rotate(144deg);
	-webkit-transform: rotate(144deg);
	transform: rotate(144deg);
}

#stars li span:nth-child(6) {
	-moz-transform: scaleX(-1) rotate(-144deg);
	-webkit-transform: scaleX(-1) rotate(-144deg);
	transform: scaleX(-1) rotate(-144deg);
}

#stars li span:nth-child(7) {
	-moz-transform: rotate(216deg);
	-webkit-transform: rotate(216deg);
	transform: rotate(216deg);
}

#stars li span:nth-child(8) {
	-moz-transform: scaleX(-1) rotate(-216deg);
	-webkit-transform: scaleX(-1) rotate(-216deg);
	transform: scaleX(-1) rotate(-216deg);
}

#stars li span:nth-child(9) {
	-moz-transform: rotate(288deg);
	-webkit-transform: rotate(288deg);
	transform: rotate(288deg);
}

#stars li span:nth-child(10) {
	-moz-transform: scaleX(-1) rotate(-288deg);
	-webkit-transform: scaleX(-1) rotate(-288deg);
	transform: scaleX(-1) rotate(-288deg);
}

#shield {
	height: calc(15vw * 1.1667);
	margin: 10vw auto 0.3vw;
	position: relative;
	width: 15vw;
	z-index: 0;
}

#shield:before {
	content: '';
	background: black;                
	border-radius: 0 0 42% 42%;
	overflow: hidden;
	position: absolute;
	bottom: -2%;
	left: -2%;
	right: -2%;
	top: -2%;
}

#shield .ship {
	background: #5CBFEB;
	height: 35.7142%;
	position: relative;
	text-align: center;
	z-index: 2;
}

#shield .ship span {
	color: #FFCE65;
	font-size: 6vw;
	line-height: 6.3vw;
}

#shield .name {
	background: black;
	color: #FFCE65;
	font-size: 3.3vw;
	line-height: 3.8vw;
	height: 21.4285%;
	margin: 0;
	position: relative;
	text-align: center;
	z-index: 2;
}

#shield .name:after {
	content: '';
	background: #5CBFEB;
	height: 3%;
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
}

#shield .circle {
	background: #5CBFEB;                
	border-radius: 45%;
	height: 15vw;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

#shield .strip {
	background: white;
	float: left;
	height: 120%;
	margin-left: 17.2857%;
	width: 11.2857%;
	-moz-transform: rotate(-38deg);
	-webkit-transform: rotate(-38deg);
	transform: rotate(-38deg);
	position: relative;
	left: 22%;
}

#shield .strip:first-child {
	margin-left: 0;
}

#banner {
	height: 4vw;
	margin: 0 auto;
	position: relative;
	width: 21vw;
}

#banner:before, #banner:after, 
#banner div:before, #banner div:after {
	content: '';
	border: 0.3vw solid black;
	border-radius: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
}

#banner:before, #banner:after {
	clip: rect(33.15vw, 27.5vw, 36vw, 8.5vw);
	height: 36vw;
	width: 36vw;
	position: absolute;
	top: 0;
	left: 50%;
	-moz-transform: translate(-50%, -100%);
	-webkit-transform: translate(-50%, -100%);
	transform: translate(-50%, -100%);
	z-index: 4;
}

#banner:after {
	background: white;
	clip: rect(39vw, 32vw, 43vw, 12vw);
	height: 42vw;
	width: 44vw;
	-moz-transform: translate(-50%, -90%);
	-webkit-transform: translate(-50%, -90%);
	transform: translate(-50%, -90%);
	z-index: 2;
}

.banner-side {
	position: absolute;
	top: -2.75vw;
	left: 0;
	height: 4vw;
	width: 50%;
	-moz-transform-origin: 100% 50%;
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
}

.banner-side:before {
	clip: rect(0, 0.8vw, 1vw, 0);
	height: 1.6vw;
	width: 2.6vw;
	-moz-transform: rotate(32deg);
	-webkit-transform: rotate(32deg);
	transform: rotate(32deg);
}

.banner-side:after {
	clip: rect(14.9vw, 5vw, 19.1vw, 2vw);
	height: 20vw;
	width: 5vw;
	bottom: -35%;
	right: 93%;
}

.outer {
	height: 33%;
	width: 39%;
	position: absolute;
	top: 4.6vw;
	left: -1.1vw;	
	-moz-transform: rotate(23deg);
	-webkit-transform: rotate(23deg);
	transform: rotate(23deg);
}

.outer:before {
	background: #B2B2B2;
	clip: rect(0, 1.4vw, 2vw, 0);
	height: 100%;
	width: 75%;
	top: 0;
	left: 0;
	z-index: 1;
}

#banner .outer:after {
	background: #B2B2B2;
	border-width: 0 0.3vw 0.3vw 0;
	border-radius: 0;
	height: 100%;
	width: 70%;
	top: 0;
	right: 0;
	z-index: 0;
}

.inner {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 100%;
	right: 73%;
}

.inner:before {
	background: white;
	clip: rect(0, 2.75vw, 1.25vw, 1.3vw);
	height: 1.1vw;
	width: 2.75vw;
	-moz-transform: rotate(15deg);
	-webkit-transform: rotate(15deg);
	transform: rotate(15deg);
	top: 1.8vw;
	right: 0.2vw;
	z-index: 1;
}

.inner:after {
	display: none;
}

.tail-bottom {
	height: 100%;
	width: 100%;
	position: absolute;
	right: 75%;
	top: 100%;
}

.tail-bottom:before {
	clip: rect(0, 6.5vw, 1.5vw, 0.3vw);
	height: 4vw;
	width: 8vw;
	right: 0;
	top: 2.175vw;
}

.tail-bottom:after {
	clip: rect(0, 3.4vw, 1.2vw, 0.4vw);
	height: 4vw;
	width: 8vw;
	right: 0;
	top: 2.35vw;
	-moz-transform: rotate(-29deg);
	-webkit-transform: rotate(-29deg);
	transform: rotate(-29deg);
	-moz-transform-origin: 0.1vw 1.2vw;
	-webkit-transform-origin: 0.1vw 1.2vw;
	transform-origin: 0.1vw 1.2vw;
}

.tail-top {
	height: 100%;
	width: 100%;
	position: absolute;
	right: 75%;
	top: 25%;
}

.tail-top:before {
	clip: rect(0, 3.3vw, 0.7vw, 0.3vw);
	height: 2vw;
	width: 4vw;
	right: 45%;
	top: 90%;
}

.tail-top:after {
	clip: rect(0, 7vw, 2vw, 1.5vw);
	height: 12vw;
	width: 12vw;
	left: 6%;
	top: 50%;
}

#banner-right {
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

#banner span {
	display: inline-block;
	font-family: 'Norican', 'Monotype Corsiva', Corsiva, serif;
	font-size: 2.5vw;
	font-weight: bold;
	height: 4vw;
	line-height: 4.2vw;
	width: 1vw;
	position: absolute;
	left: calc(50% - 0.5vw);
	top: 0;
	-moz-transform-origin: 50% -18vw;
	-webkit-transform-origin: 50% -18vw;
	transform-origin: 50% -18vw;
	z-index: 3;
}

#banner .char1 {
	-moz-transform: rotate(26deg);
	-webkit-transform: rotate(26deg);
	transform: rotate(26deg);
}

#banner .char2 {
	-moz-transform: rotate(22deg);
	-webkit-transform: rotate(22deg);
	transform: rotate(22deg);
}

#banner .char3 {
	-moz-transform: rotate(18deg);
	-webkit-transform: rotate(18deg);
	transform: rotate(18deg);
}

#banner .char4 {
	-moz-transform: rotate(15deg);
	-webkit-transform: rotate(15deg);
	transform: rotate(15deg);
}

#banner .char5 {
	-moz-transform: rotate(12.2deg);
	-webkit-transform: rotate(12.2deg);
	transform: rotate(12.2deg);
}

#banner .char6 {
	-moz-transform: rotate(10deg);
	-webkit-transform: rotate(10deg);
	transform: rotate(10deg);
}

#banner .char7 {
	-moz-transform: rotate(6.7deg);
	-webkit-transform: rotate(6.7deg);
	transform: rotate(6.7deg);
}

#banner .char8 {
	-moz-transform: rotate(4.5deg);
	-webkit-transform: rotate(4.5deg);
	transform: rotate(4.5deg);
}

#banner .char9 {
	-moz-transform: rotate(1deg);
	-webkit-transform: rotate(1deg);
	transform: rotate(1deg);
}

#banner .char10 {
	-moz-transform: rotate(0);
	-webkit-transform: rotate(0);
	transform: rotate(0);
}

#banner .char11 {
	-moz-transform: rotate(-3.5deg);
	-webkit-transform: rotate(-3.5deg);
	transform: rotate(-3.5deg);
}

#banner .char12 {
	-moz-transform: rotate(-6deg);
	-webkit-transform: rotate(-6deg);
	transform: rotate(-6deg);
}

#banner .char13 {
	-moz-transform: rotate(-8.5deg);
	-webkit-transform: rotate(-8.5deg);
	transform: rotate(-8.5deg);
}
	
#banner .char14 {
	-moz-transform: rotate(-12deg);
	-webkit-transform: rotate(-12deg);
	transform: rotate(-12deg);
}
				
#banner .char15 {
	-moz-transform: rotate(-14.5deg);
	-webkit-transform: rotate(-14.5deg);
	transform: rotate(-14.5deg);
}
							
#banner .char16 {
	-moz-transform: rotate(-17.5deg);
	-webkit-transform: rotate(-17.5deg);
	transform: rotate(-17.5deg);
}
										
#banner .char17 {
	-moz-transform: rotate(-20.4deg);
	-webkit-transform: rotate(-20.4deg);
	transform: rotate(-20.4deg);
}
													
#banner .char18 {
	-moz-transform: rotate(-22.5deg);
	-webkit-transform: rotate(-22.5deg);
	transform: rotate(-22.5deg);
}
																
#banner .char19 {
	-moz-transform: rotate(-24.5deg);
	-webkit-transform: rotate(-24.5deg);
	transform: rotate(-24.5deg);
}